<!-- {{ define "main" }}
<div class="content" style="margin: 0 auto; max-width: 800px;">
    <div class="inner">
        <header class="major">
            <h1>{{ .Title }}</h1>
            {{ if .Content }}
                <p>{{ .Content }}</p>
            {{ end }}
        </header>
        <section class="posts">
            {{ range .Pages }}
                <article>
                    <header>
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p class="date">{{ .Date.Format "Jan 2, 2006" }}</p>
                    </header>
                    {{ if .Params.featured_image }}
                        <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.featured_image }}" alt="{{ .Title }}" /></a>
                    {{ end }}
                    <p>{{ .Summary | truncate 150 }} <a href="{{ .Permalink }}">Read More</a></p>
                    <ul class="actions">
                        <li><a href="{{ .Permalink }}" class="button">Read More</a></li>
                    </ul>
                </article>
            {{ end }}
        </section>
    </div>
</div>
{{ end }} -->
